/*body{
  color: #3FcE99;
  background: #9028FF
  center
  url('https://i.pinimg.com/564x/ea/9d/a8/ea9da80c9cfb75c4126f5369be628069.jpg')
  no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}*/
#first {
  background: 
  center
  url('https://static.tildacdn.com/tild6262-3934-4565-b562-306132303633/_2024-04-18_13513626.png')
  no-repeat;
  height: 2000px;
  background-attachment: fixed;
}
#second {
  height: 2000px;
}
