@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
}
.pre1{
  color: #ffffff;
  font-size: 2vh;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  line-height: 2vh;
  text-align: center;
  margin-bottom: 20px;
}

.title-a {/* Стиль для названия */
  color: #fff;
  text-align: center;
  font-size: 2vh;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
}
#header{
  width: 100%;
  height: 5%;
  background: #ffffff;
  color: #000000;
  float: right;
}
/* Тут картинка */
.coffee-header { 
  width: 5%;
  height: 90%;
  margin-left:1.5vh;
}
.navbar {
  line-height: 100%;
}
#nav ul {
  list-style: none;
  text-decoration: none;
  color:#000000;
  line-height: 100%;
  font-size: 1.3vh;
  font-family: "Poiret One", sans-serif;
  text-align: center;
}
#nav li {
  display: inline-block;
  float: right;
  font-family: "Poiret One", sans-serif;
  text-decoration: none;
  color:#000;
  line-height: 100%;
  margin-right: 5vh;
  font-size:2vh;
  margin-top:1.5vh;
}
#nav li a{
  font-size: 1.3vh;
  text-decoration: none;
  color:#000;
  font-weight: bold;
}
#nav li a:hover{
 background-color: #ffffff;
 border: 1px solid rgb(0, 0, 0);
 border-radius: 5px;
 padding: 4px;
 cursor: pointer;
 transition: background-color 0.7s, padding 0.5s;
}
/* футер - низ */
#footer {
  float: left;
  width: 100%;
  height: 15%;
  background: #000000;
  line-height: 140px;
  margin-bottom: 50px;
}
.footer-text-a {
  color: #fff;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-weight:300;
}
/* .circletag {
  display: block;
  width: 40px;
  height: 40px;
  background: #E6E7ED;
  border-radius: 20px;
  background-image: url(coffex1.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
} */
 .info {
   text-align: center;
   color: #fff;
   padding-left: 10px;
   /* Для перемещения текста*/
 }
.info ul {
  float:center;
  list-style: none;
  text-decoration: none;
  line-height: normal;
  text-align: center;
  color: #fff;
  font-size: 1.3vh;
  font-family: "Poiret One", sans-serif;
  
}
.info li {
  display: inline-block;
  margin-right:5em;
  line-height: 3em;
  height: 2vh;
}
.info li:last-of-type{
    margin-right: 0em;
}
.info li a:hover{
    background-color: #111;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding:4px;
    cursor:pointer;
    transition: background-color 0.7s,padding 0.5s;
}
.sizeup{

  font-size: 2vh;
  margin-bottom: 1.1em;
  margin-top: 3px;
  line-height: 2em;
}
.container {
  background: no-repeat url('https://img.goodfon.com/original/1920x1200/7/d2/kofe-kofeinye-zerna-koritsa.jpg') 50% 50%;
  background-size: 100% auto; 
  text-align: center;
   color: white;
   float: center;
 }
.container-1 {
  background: no-repeat url('https://img.goodfon.com/original/1920x1200/7/d2/kofe-kofeinye-zerna-koritsa.jpg') 50% 50%;
  background-size: 100% auto;
  text-align: center;
  filter: blur();
  color: white;
  float: center;
}
 /* Тут всякие стили, которые могут пригодиться! */
/* #main {
  width: 50%;
  margin-left: 25%;
  background: #fafafa;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float: left;
  position: relative;
  z-index: 1;
  line-height: 2vh;
} */

/* #nav{
  list-style: none;
  display: block;
  float: left;
  width: 50%;
  margin-left: 5%;
  text-align:  left;
  margin-bottom: 50px;
  margin-top: 0.25vh;
}
#nav li{
  display: inline;
  background: transparent;
  color: #000;
  text-align: center;
  font-size: 1.2em;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 25px;
}
#nav a {
  display:inline-block;
  background: #333;
  padding: 0 20px;
  cursor: pointer;
  margin-left: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
#nav a:hover{
  color: #fff;
  background: #333;
  border-color: #333;
  border: 1px solid silver;
  border-radius: 5px;
}
#nav li:hover{
  color: #fff;
  background: #333;
  border-radius: 5px;
  border-color: #333;
}
#nav li:not(:last-of-type){
  margin-right: 20px;
} */

/* .зеро {
  background: #02DDEA;
  height: 50px;
  width: 200px;
  border: 7px #028BCE;
  border-bottom: #00FFEE groove 10px;
  border-style: inset;
  border-top: #00FFEE groove 10px;
  border-radius: 30em 80em;
  opacity: 0.8;
  margin: 20px 50px;
  padding: 50px 10px;
  display: block;
} */
/* .block {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: red;

} */
/* #first {
  float: right;
}

#second {
  background: blue;
  float: right;
} */
 /* #aside {
  width: 20%;
  padding: 20px 2.5%;
  background: #fafafa;
  border: 1px solid silver;
  float: left;
  margin-left: 5%;
  position: relative;
  bottom: -10px;
  left: 20px;
  z-index: 0;
} */
 /* #some_block{
  background: red;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  top: 50px;
} */